@import "../../../assets/scss/_vars";

.btc-price {
  .btc-price--sources,
  .btc-price--currencies {
    > ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 .4em .4em 0;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
