@import "../../../assets/scss/_vars";

.content {
  position: relative;
  margin: 0 0 1em;

  .content-title {
    font-size: 1.35em;
    margin-top: 0;
  }

  h3, h4 {
    margin-bottom: .5em;
    + p, + ul {
      margin-top: 0;
    }
  }

  .btn {
    font-family: $font-sans;
    padding: .5em .75em;
    color: $color--body-font;
    background: $color--bg-gray1;
    border: 1px solid $color--border-gray1;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    @include transition(all 0.3s ease);
    &:hover {
      border-color: darken($color--border-gray1, 15%);
    }
    &.btn--active {
      border-color: darken($color--border-gray1, 45%);
    }
  }
}
