$color--primary-red1: #d53d35; // anchors, maybe some headers
$color--primary-blue1: #41a2fe; // nothing at all... yet?

$color--bg-gray1: #f3f3f3;
$color--border-gray1: #ddd;

$color--body-bg: #fbfbfb;
$color--body-font: #474747;
$color--body-anchor: $color--primary-red1;
$color--body-anchor-hover: darken($color--body-anchor, 10%);
