@import "_fonts";
@import "_vars";

body {
  padding: 1em;
  color: $color--body-font;
  background: $color--body-bg;
  font-family: $font-sans;
  font-size: 100%;
  line-height: 1.3em;
}

a {
  color: $color--body-anchor;
  text-decoration: none;
  @include transition(color 0.3s ease);
  &:hover {
    color: darken($color--body-anchor, 10%);
  }
}
