@import "_fonts";
@import "_vars";

body {
  padding: .9em .6em;
  color: $color--body-font;
  background: $color--body-bg;
  font-family: $font-sans;
  font-size: .94em;
  line-height: 1.4em;
  letter-spacing: .01em;
  @include breakpoint(sm) {
    padding: 1em;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: $color--primary-blue1;
  color: white;
}

.app-wrapper {
  position: relative;
  max-width: $breakpoint--max-width;
  .app-enter {
    opacity: 0;
    @include transition(opacity .3s ease-in);
    &.app-enter-active {
      opacity: 1;
    }
  }
}

a {
  color: $color--body-anchor;
  text-decoration: none;
  cursor: pointer;
  @include transition(color 0.3s ease);
  &:hover {
    color: $color--body-anchor-hover;
  }
  &.alt {
    color: $color--body-anchor-alt;
    &:hover {
      color: $color--body-anchor-alt-hover;
    }
  }
  &.purp {
    color: $color--body-anchor-purp;
    &:hover {
      color: $color--body-anchor-purp-hover;
    }
  }
  &.icon-after {
    &:after {
      font-family: FontAwesome;
      font-size: .9em;
      font-weight: normal;
      text-transform: none;
      margin: auto .3em;
    }
    &.external:after {
      content: "\f08e";
    }
    &.email:after {
      content: "\f003";
    }
  }
}

h1, h2, h3, h4 {
  font-family: $font-serif;
  font-weight: normal;
}

strong {
  font-weight: 600;
}
