@import "../../assets/scss/_vars";

.content {
  position: relative;
  margin: 0 0 $margin--vx;

  .content-title {
    font-size: 1.3em;
    margin-top: 0;
  }

  a {
    &.icon-after {
      &:after {
        font-family: FontAwesome;
        font-size: .8em;
        margin: auto .3em;
      }
      &.external {
        &:after {
          content: "\f14c";
        }
      }
    }
  }
}
