@import "../../../assets/scss/_vars";

#footer {
  max-width: $breakpoint--max-width;
  border-top: 1px solid $color--border-gray2;
  > p {
    font-size: .9em;
    color: lighten($color--body-font, 25%);
    a {
      color: lighten($color--body-font, 25%);
      font-weight: 600;
      &:hover {
        color: lighten($color--body-font, 10%);
      }
    }
  }
}
