#header {
  margin-bottom: 20px;
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    li {
      display: inline-block;
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: block;
        padding: 5px;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
}
