@import "../../assets/scss/_vars";

.overlay {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  background: $color--primary-gray1;
  border: 1px solid darken($color--primary-gray1, 6%);
  @include transition(all 0.3s ease);
  &.overlay--active {
    width: 100%;
    height: 100%;
  }

  .overlay--content {
    position: relative;
    padding: $padding--vx $padding--hx;

    .overlay--toggle {
      position: absolute;
      right: $padding--hx;
      top: $padding--vx;
      >i {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 1.7em;
        cursor: pointer;
      }
    }

    h3 {
      margin-top: 0;
    }
  }
}
