@import "../../../assets/scss/_vars";

.poketable {
  .poketable--filter {
    margin-bottom: $margin--v;
    form {
      fieldset {
        border: 0;
        padding: 0;
        input[type='text'], select, button {
          display: block;
          width: 100%;
          outline: none;
          margin-bottom: .5em;
          padding: 0 .4em;
          height: 2.4em;
          border: 1px solid $color--border-gray1;
          background: #fff;
          font-size: 1em;
          font-family: $font-sans;
          @include placeholder {
            font-style: italic;
          }
          @include breakpoint(sm) {
            display: inline-block;
            vertical-align: top;
            width: auto;
            margin-bottom: 0;
            margin-left: .2em;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        select {
          option {
            border: 0;
          }
        }
        button {
          background: $color--bg-gray1;
          cursor: pointer;
        }
      }
    }
  }
  table {
    border-spacing: 0;
    border: 1px solid $color--border-gray1;
    border-radius: 3px;
    font-size: .9em;
    tr {
      td, th {
        padding: .5em .75em;
        border-right: 1px solid darken($color--border-gray1, 5%);
        &:last-of-type {
          border-right: 0;
        }
      }
    }
    thead {
      tr {
        th {
          background: $color--bg-gray2;
          font-weight: normal;
          cursor: pointer;
          > span {
            position: relative;
            display: block;
            padding-right: 1.5em;
            &:after {
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              content: "\f077";
              font-family: FontAwesome;
              font-size: .8em;
              opacity: 0;
              @include transition(all 0.3s ease);
            }
            &.sortBy {
              &:after {
                opacity: 1;
              }
              &.desc:after {
                @include transform(scaleY(-1));
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: $color--bg-gray1;
        }

        td {
          a.type {
            color: darken($color--type-normal, 15%);
            &.grass {
              color: darken($color--type-grass, 15%);
            }
            &.bug {
              color: darken($color--type-bug, 10%);
            }
            &.dragon {
              color: $color--type-dragon;
            }
            &.ice {
              color: darken($color--type-ice, 30%);
            }
            &.fighting {
              color: $color--type-fighting;
            }
            &.fire {
              color: $color--type-fire;
            }
            &.flying {
              color: $color--type-flying;
            }
            &.ghost {
              color: $color--type-ghost;
            }
            &.ground {
              color: darken($color--type-ground, 20%);
            }
            &.electric {
              color: darken($color--type-electric, 20%);
            }
            &.normal {
              color: darken($color--type-normal, 15%);
            }
            &.poison {
              color: $color--type-poison;
            }
            &.psychic {
              color: $color--type-psychic;
            }
            &.rock {
              color: darken($color--type-rock, 20%);
            }
            &.water {
              color: $color--type-water;
            }
          }
        }
      }
    }
  }
  .poketable--type-badge {
    display: inline-block;
    padding: 0 .4em;
    margin-left: .3em;
    font-size: .8em;
    color: white;
    background-color: $color--type-normal;
    text-shadow: 0 1px 1px rgba(#000, .75);
    border-radius: 3px;
    &:first-of-type {
      margin-left: .6em;
    }
    &.grass {
      background-color: $color--type-grass;
    }
    &.bug {
      background-color: $color--type-bug;
    }
    &.dragon {
      background-color: $color--type-dragon;
    }
    &.ice {
      background-color: $color--type-ice;
    }
    &.fighting {
      background-color: $color--type-fighting;
    }
    &.fire {
      background-color: $color--type-fire;
    }
    &.flying {
      background-color: $color--type-flying;
    }
    &.ghost {
      background-color: $color--type-ghost;
    }
    &.ground {
      background-color: $color--type-ground;
    }
    &.electric {
      background-color: $color--type-electric;
    }
    &.normal {
      background-color: $color--type-normal;
    }
    &.poison {
      background-color: $color--type-poison;
    }
    &.psychic {
      background-color: $color--type-psychic;
    }
    &.rock {
      background-color: $color--type-rock;
    }
    &.water {
      background-color: $color--type-water;
    }
  }
  .poketable--count {
    font-size: .9em;
  }
}
